.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}

.karla {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);

    --body-font: 16px;
    --main-trans: 0.3s;
    --heading-weight: 400;
    --body-weight-light: 400;
    --body-weight-bold: 700;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

div > img {
    max-width: 100%;
}

/* Start Local Rules */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

header nav a {
    color: rgb(150, 150, 150);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    transition: var(--main-trans);
}

header nav a:hover {
    color: var(--very-dark-violet);
}

header nav a:last-of-type {
    color: var(--very-dark-violet);
    border: 2px solid var(--very-dark-violet);
    padding: 10px 30px;
}

header nav a:last-of-type:hover {
    background-color: var(--very-dark-violet);
    color: var(--very-light-gray)
}

.intro {
    background-color: var(--dark-violet);
    color: var(--very-light-gray);
    position: relative;
}

.intro .left-pattern {
    position: absolute;
    top: 70%;
    left: 0;
}

.intro .right-pattern {
    position: absolute;
    right: 0;
    top: 0%;

}

.intro .container {
    padding-top: 60px;
    padding-bottom: 100px;
    display: flex;
    gap: 30px;
    position: relative;
}

.intro .container .info {
    flex-basis: 48%;
}

.intro .container .info span {
    display: block;
    background-color: var(--very-light-gray);
    width: 25%;
    height: 1px;
    margin: 50px 0;
}

.intro .container .info h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    width: 450px;
    line-height: 0.9;
}

.intro .container .info p {
    line-height: 1.8;
    margin-bottom: 30px;
}


.intro .container .info a {
    color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);
    letter-spacing: 1px;
    padding: 10px 30px;
    transition: var(--main-trans);
}

.intro .container .info a:hover {
    background-color: var(--very-light-gray);
    color: var(--very-dark-violet);
}

.intro .container .intro-img {
    position: absolute;
    top: 100px;
    left: calc(50% + 30px)
}

/* End Local Rules */

/* Start Media Queries */
@media (width <= 769px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 769px) {
    .container {
        width: 750px;
    }

    .mobile {
        display: none;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Media Queries */