.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}

.karla {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);

    --body-font: 16px;
    --main-trans: 0.3s;
    --heading-weight: 400;
    --body-weight-light: 400;
    --body-weight-bold: 700;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

div > img {
    max-width: 100%;
}

/* Start Local Rules */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

header nav a {
    color: rgb(150, 150, 150);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    transition: var(--main-trans);
}

header nav a:hover {
    color: var(--very-dark-violet);
}

header nav a:last-of-type {
    color: var(--very-dark-violet);
    border: 2px solid var(--very-dark-violet);
    padding: 10px 30px;
}

header nav a:last-of-type:hover {
    background-color: var(--very-dark-violet);
    color: var(--very-light-gray)
}

.intro {
    background-color: var(--dark-violet);
    color: var(--very-light-gray);
    position: relative;
}

.intro .left-pattern {
    position: absolute;
    top: 70%;
    left: 0;
}

.intro .right-pattern {
    position: absolute;
    right: 0;
    top: 0%;
}

.intro .container {
    padding-top: 60px;
    padding-bottom: 100px;
    display: flex;
    gap: 30px;
    position: relative;
}

.intro .container .info {
    flex-basis: 48%;
    position: relative;
}

.intro .container .info span {
    display: block;
    background-color: var(--very-light-gray);
    width: 25%;
    height: 1px;
    margin: 50px 0;
}

.intro .container .info h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    width: 450px;
    line-height: 0.9;
    position: relative;
    z-index: 900;
}

.intro .container .info p {
    line-height: 1.8;
    margin-bottom: 30px;
    position: relative;
    z-index: 900;
}


.intro .container .info a {
    color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);
    letter-spacing: 1px;
    padding: 10px 30px;
    transition: var(--main-trans);
    font-weight: 700;
    font-size: 14px;
    position: relative;
    z-index: 900;
}

.intro .container .info a:hover {
    background-color: var(--very-light-gray);
    color: var(--very-dark-violet);
}

.intro .container .intro-img {
    position: absolute;
    top: 100px;
    left: calc(50% + 30px)
}

.intro .container .info .mobile-left-pattern {
    position: absolute;
    top: 0;
    left: 0;
}

.intro .container .info .mobile-right-pattern {
    position: absolute;
    top: 80%;
    right: 0;
}

.intro .container .mobile-intro-img {
    width: 100%;
}

.intro .container .mobile-intro-img img {
    width: 100%;
}

.how .container {
    margin-top: 200px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.how .container span {
    display: block;
    background-color: purple;
    width: 12%;
    height: 1px;
    margin: 50px 0;
}

.how .container h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    line-height: 0.9;
    color: var(--very-dark-violet)
}

.how .container .flex {
    display: flex;
    gap: 30px;
    padding: 60px 0;
}

.how .container .flex h3 {
    padding: 30px 0 20px;
    font-size: 1.8rem;
    color: var(--very-dark-violet)

}

.how .container .flex p {
    line-height: 1.8;
    color: var(--dark-grayish-violet);
}

.find-out-more {
    padding-bottom: 120px;
}

.find-out-more .container {
    background-color: var(--dark-violet);
    padding: 50px 90px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.find-out-more .container .pattern {
    position: absolute;
    right: 0;
    top: 0;
}

.find-out-more .container h1 {
    font-size: 3.6rem;
    margin: 0;
    width: 510px;
    /* line-height: 0.9; */
    z-index: 900;
}

.find-out-more .container a {
    color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);
    letter-spacing: 1px;
    padding: 10px 30px;
    transition: var(--main-trans);
    font-weight: 700;
    font-size: 14px;
    z-index: 900;
}

.find-out-more .container a:hover {
    background-color: var(--very-light-gray);
    color: var(--very-dark-violet);
}
/* End Local Rules */

/* Start Media Queries */
@media (width <= 1000px) {
    .intro .container .intro-img {
        display: none;
    }

    .intro .container .info {
        flex-basis: 100%;
    }
}

@media (width <= 769px) {
    .desktop {
        display: none;
    }

    .intro .container {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        gap: 0;
    }

    .intro .container .info {
        flex-basis: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .intro .container .info span {
        display: none;
    }

    .intro .container .info h1{
        margin-top: 100px;
        width: fit-content;
        font-size: 3rem;
    }

    .how .container {
        text-align: center;
        margin-top: 0;
    }

    .how .container .flex {
        flex-direction: column;
    }

    .how .container span {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .how .container h1 {
        font-size: 3rem;
    }

    .find-out-more {
        padding-left:25px;
        padding-right:25px;
    }

    .find-out-more .container {
        flex-direction: column;
        padding: 60px 30px;
        text-align: center;
    }

    .find-out-more .container h1 {
        font-size: 2.3rem;
        width: fit-content;
        margin-bottom: 30px;
    }

}

@media (min-width: 769px) {
    .container {
        width: 750px;
    }

    .mobile {
        display: none;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Media Queries */